<div class="main">
    <h1>ニュース</h1>
        <div class="news-contents">
            <h2><%= @news.title %></h2>
            <p style="text-align: right; font-size:13px;"><%= @news.created_at.to_s(:event_date) %></p>
            <% if @news.image_name %>
                <img src="<%="/content_images/#{@news.image_name}" %>">
            <% end %>
            <p><%= simple_format(@news.content) %></p>
        
            <div class= "more-read">
            <%= link_to("ニュース一覧に戻る", "/news")  %>
        </div>
    </div>
    
    
</div>
